@import "../../styles/variables.scss";

.cursor {
  position: fixed;
  width: 200px;
  height: 200px;
  //background: var(--red);
  background: #000000bb;
  top: -100px;
  left: -100px;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: multiply;
  @media #{$mq1Col} {
    display: none;
  }
}
