@import "../../styles/variables.scss";

.cursor {
  position: fixed;
  width: 500px;
  height: 500px;
  //background: var(--red);
  //background: #000000dd;
  //background: radial-gradient(#155799, #159957);
  background: radial-gradient(#7300ff, #ffffff 90%);
  top: -250;
  left: -250;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: multiply;
  @media #{$mq1Col} {
    display: none;
  }
}
